<div class="main">
  <h2>Add new Course</h2>
  <form [formGroup]="courseForm"  #f="ngForm"  (ngSubmit)="onSubmit()" class="course-form">
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Course Name</mat-label>
        <input matInput formControlName="course_Name">
        <mat-error *ngIf="courseForm.get('course_Name')?.invalid && courseForm.get('course_Name')?.touched">Course Name is required.</mat-error>
      </mat-form-field>
    </div>
    <button mat-flat-button type="submit" [disabled]="!courseForm.valid" color="primary">Submit</button>
  </form>
</div>
