<div class="viewcoursesDiv">
  <h2 class="allcourses">List of All courses</h2> 
 <div class="viewcourses">
     <table mat-table [dataSource]="courses" class="mat-elevation-z8 custom-mat-table">
         <ng-container matColumnDef="Name">
           <th class="table-Header" mat-header-cell *matHeaderCellDef> Course Name </th>
           <td class="table-Data" mat-cell *matCellDef="let course"> {{course.course_Name}} </td>
         </ng-container>
         <ng-container matColumnDef="Delete">
             <th class="table-Header" mat-header-cell *matHeaderCellDef> Delete </th>
             <td class="table-Data" mat-cell *matCellDef="let course"><mat-icon color="warn" (click)="deletecourse(course)">close</mat-icon></td>
           </ng-container>
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       </table>
 </div>
 </div>
 