<div class="viewStudentsDiv">
  <h2 class="allStudents">List of All Students</h2> 
  <div class="viewStudents">
    <table mat-table [dataSource]="students" class="mat-elevation-z8 custom-mat-table">

      <ng-container matColumnDef="Name">
        <th class="table-Header" mat-header-cell *matHeaderCellDef> Name </th>
        <td class="table-Data" mat-cell *matCellDef="let student"> {{student.first_Name}} {{student.family_Name}} </td>
      </ng-container>

      <ng-container matColumnDef="DOB">
        <th class="table-Header" mat-header-cell *matHeaderCellDef> DOB </th>
        <td class="table-Data" mat-cell *matCellDef="let student"> {{student.dob}} </td>
      </ng-container>

      <ng-container matColumnDef="Email">
        <th class="table-Header" mat-header-cell *matHeaderCellDef> Email </th>
        <td class="table-Data" mat-cell *matCellDef="let student"> {{student.email}} </td>
      </ng-container>

      <ng-container matColumnDef="Delete">
        <th class="table-Header" mat-header-cell *matHeaderCellDef> Delete </th>
        <td class="table-Data" mat-cell *matCellDef="let student">
          <button mat-button color="warn" (click)="deleteStudent(student)"><mat-icon>close</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
